body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  .navLink{
    margin-left: 10px;
  }

  .chartCol{
    margin-top: 50px;
  }

  .chart{
    width: 100%; 
    height: 70vh;
  }

  @media (min-width: 100px) and (max-width: 800px) { 
    .chart{
      width: 100%; 
      height: 100vh;
    }
  }